
<!-- <mat-card> -->
    <h3 data-text="IR 1 UvA - 2024 Class" style="color:white"></h3>
<!-- </mat-card> -->
<hr>
<!-- <h4>Information Retrieval 1</h4> -->
<mat-card>
    <mat-tab-group>
        <mat-tab *ngFor="let key of get_tab_names()" label="{{key}}"> 
            <mat-tab-group>
                <mat-tab label="Results Table"> 
                    <app-dashboard [dataUrl]="assignment_data_urls[key]"></app-dashboard>
                </mat-tab>
                <mat-tab label="Results Plot"> 
                    <app-plot [dataUrl]="assignment_data_urls[key]"></app-plot>
                </mat-tab>

            
            </mat-tab-group>
        </mat-tab>
    </mat-tab-group>
</mat-card>

<!-- <router-outlet></router-outlet> -->
